#main{
    background-color: var(--bgColor);
}

/* For Banner Section */
.banner-area{
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    overflow: hidden;
}
.banner{
    width: 100%;   
    margin-top: 60px !important;
}
.bnr-content{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
}
.bnr-content .bnr-content-text{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 5px;
}
.emoji{
    width: 28px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px var(--TolightgrayColor);
    position: absolute;
    top: 7.5%;
    rotate: 345deg;
    animation: swing-top-fwd 1s cubic-bezier(.25,.46,.45,.94) both;
}
@keyframes swing-top-fwd {
    0%{
        transform:rotateX(0);
        transform-origin:top;
        left: 5%;
        opacity: 0;
    }
    100%{
        transform:rotateX(360deg);
        transform-origin:bottom;
        left: 32%;
        opacity: 1;
    }
}
.bnr-content-text h1{
    font-family: 'K2D', sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--DarkgrayColor);
    margin: 0;
    margin-top: 15px;
}
.bnr-content-text h2{
    font-family: 'K2D', sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    color: var(--PrimaryColor);
    margin: 0;
}
.bnr-content-text h5{
    font-family: 'K2D', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--DarkgrayColor);
    margin: 0;
}
.bnr-content-text h5 span{
    color: var(--PrimaryColor);
}
.bnr-content-text p{
    font-family: 'K2D', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--DarkgrayColor);
    margin: 0;
    margin-top: 15px;
    line-height: 23px;
}
.hire-me{
    border: none;
    border-radius: 7px;
    background: linear-gradient(to bottom, #ffd000 10%, #ffbb00 100%);
    font-family: 'Varela Round', sans-serif;
    padding: 6px 28px;
    margin-top: 25px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--WhiteColor);
    box-shadow: 5px 20px 20px 1px #ffe677;
    transform: scale(1);
    transition: 0.3s;
}
.hire-me:hover{
    transform: scale(1.05);
}
.hire-me:active{
    transform: scale(0.95);
}
.bnr-content-icons{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.bnr-content-icons .icons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icons a{
    text-decoration: none;
}
.icons i{
    font-size: 3.5rem;
    color: var(--DarkgrayColor);
    transition: 0.25s;
    transform: scale(1);
}
.icons i:hover{
    color: var(--SecondaryColor);
    transform: scale(1.3);
}
.icons i:active{
    font-size: 3.8rem;
    color: var(--SecondaryColor);
    transform: scale(0.9);
}


.bnr-image{
    width: 100%;  
    height: 360px;
    display: flex;
    justify-content: flex-end;
}
.image{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative; 
}
.image img{
   width: 400px;
}

.html{
    width: 11rem;
    height: 3.5rem;
    background-color: #ffe677;
    position: absolute;
    top: 0px;
    left: 360px;
    border-radius: 10px 10px 10px 0px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px var(--TolightgrayColor);
    border: 3px solid var(--SecondaryColor);
}
.html i{
    font-size: 2.1rem;
    margin: 0px;
    margin-top: 1px;
    color: var(--MediumgrayColor);
}
.html h3{
    font-family: 'K2D', sans-serif;
    font-size: 1.9rem;
    margin: 0;
    margin-bottom: 0px;
    font-weight: 700;
    color: var(--MediumgrayColor);
}
.css{
    width: 9rem;
    height: 3.5rem;
    background-color: #ffe677;
    position: absolute;
    top: 75px;
    left: 35px;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px var(--TolightgrayColor);
    border: 3px solid var(--SecondaryColor);
}
.css i{
    font-size: 2.1rem;
    margin: 0px;
    margin-top: 1px;
    color: var(--MediumgrayColor);
}
.css h3{
    font-family: 'K2D', sans-serif;
    font-size: 1.9rem;
    margin: 0;
    font-weight: 700;
    color: var(--MediumgrayColor);
}
.javascript{
    width: 17rem;
    height: 3.5rem;
    background-color: #ffe677;
    position: absolute;
    bottom: 25px;
    left: 300px;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px var(--TolightgrayColor);
    border: 3px solid var(--SecondaryColor);
}
.javascript i{
    font-size: 2.1rem;
    margin: 0px;
    margin-top: 0px;
    color: var(--MediumgrayColor);
}
.javascript h3{
    font-family: 'K2D', sans-serif;
    font-size: 1.9rem;
    margin: 0;
    font-weight: 600;
    color: var(--MediumgrayColor);
}


/* For About Section */
.about-area{
    width: 100%;
    background-color: var(--DarkgrayColor);
}
.aboutRow{
    width: 100%;
    overflow: hidden;
}
.abtHd{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px !important;
}
.abtHd h1{
    font-family: 'K2D', sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    color: var(--WhiteColor);
    margin: 0;
}
.abtUnderline1{
    width: 180px;
    height: 3px;
    background-color: var(--SecondaryColor);
    border-radius: 100px;
}
.abtUnderline2{
    width: 120px;
    height: 2px;
    background-color: var(--PrimaryColor);
    border-radius: 100px;
    margin-top: 5px;
}

.abtImage{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.abtImg{
    width: 65%;
    height: 65%;
    position: relative;
    z-index: 10;
    margin-left: 20px;
}
.abtImg::before {
    content: '';
    width: 106%;
    height: 106%;
    background-color: rgba(255, 208, 0,0.3);
    position: absolute;
    z-index: 1;
    top: -28px;
    left: 16px;
    border-radius: 20px 40px 40px 20px;
}
.abtImg img{
    width: 100%;
    height: 100%;
    border-radius: 20px 40px 40px 20px;
    position: relative;
    z-index: 10;
}
.abtContent{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.abtCtnt{
    width: 96%;
}
.abtContentHd{
    height: 27vh;
}
.abtContentHd :nth-child(1){
    font-family: 'K2D', sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--WhiteColor);
}
.abtContentHd :nth-child(2){
    font-family: 'Varela Round', sans-serif;
    font-size: 3.2rem;
    margin: 0;
    margin-top: 5px;
    font-weight: bold;
    color: var(--SecondaryColor);
}
.abtContentHd :nth-child(3){
    font-family: 'K2D', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: var(--TolightgrayColor);
    margin: 0;
}
.abtContentHd :nth-child(4){
    font-family: 'K2D', sans-serif;
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: var(--TolightgrayColor);
    margin: 0;
    margin-top: 12px;
}
.abtContentHd :nth-child(4) span{
    font-size: 2.2rem;
    color: var(--SecondaryColor);
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
}
.selectHdgs{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
}
.selectHdgs .service{
    width: 18%;
    height: 100%;
}
.service h2{
    font-family: 'K2D', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: var(--WhiteColor);
    margin-top: 5px;
    position: relative;
    z-index: 11;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.link::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--SecondaryColor);
    position: absolute;
    bottom: 0px;
    transition: 0.4s;
}
.link.activeLink::after{
    width: 90%;
}
.selectHdgs .education{
    width: 18%;
    height: 100%;
}
.education h2{
    font-family: 'K2D', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: var(--WhiteColor);
    margin-top: 5px;
}

.selectText{
    width: 100%;
}
.forServiceText{
    width: 100%;
    height: 100%;
}
.forServiceText h2{
    font-family: 'K2D', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 208, 0,0.9);
}
.forServiceText p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--TolightgrayColor);
    font-weight: 500;
    word-spacing: 2px;
}
.forServiceText ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--TolightgrayColor);
    line-height: 30px;
}
.forEducationText{
    width: 100%;
    height: 100%;
}
.accordionHeader .accordionButton{
    font-size: 1.6rem;
    font-family: 'K2D', sans-serif;
    font-weight: 600;
    border: none;
    box-shadow: none !important;
}
.accordionHeader .accordionButton[type='button']{
    background-color: var(--MediumgrayColor);
    color: var(--PrimaryColor);
}
.accordion-collapse{
    background-color: var(--DarkgrayColor) !important;
}
.accordionBody h5{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--WhiteColor);
}
.accordionBody p{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--TolightgrayColor);
}


/* For Sevices Section */
.servicesHd{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px !important;
}
.servicesHd h1{
    font-family: 'K2D', sans-serif;
    font-size: 4.3rem;
    font-weight: 600;
    color: var(--MediumgrayColor);
    margin: 0;
}
.serviceUnderline1{
    width: 180px;
    height: 3px;
    background-color: var(--SecondaryColor);
    border-radius: 100px;
}
.serviceUnderline2{
    width: 120px;
    height: 2px;
    background-color: var(--PrimaryColor);
    border-radius: 100px;
    margin-top: 5px;
}

.servicesContent{
    padding: 40px 0px 150px 0px;
    overflow: hidden;
}
.servcCtntRow{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card123{
    width: 320px;
    height: 54vh;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(0px);
    transition: 0.2s ease-in;
}
.card123:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}
.crdImage{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}
.crdHd{
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crdHd h2{
    font-size: 3rem;
    font-family: 'K2D', sans-serif;
    text-decoration: underline var(--SecondaryColor);
    cursor: default;
    color: var(--WhiteColor);
}
.crdText{
    width: 100%;
    height: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.crdText p{
    font-size: 1.37rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--BlackColor);
    color: var(--TolightgrayColor);
    cursor: default;
}
.crdLink{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.crdLnk{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--WhiteColor);
}
.crdLnk i{
    color: var(--SecondaryColor);
    margin-left: 3px;
}


/* For Skills Section */
.skills-area{
    width: 100%;
    background: url('./Images/Skills-Background.jpeg'), rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 3px solid var(--SecondaryColor);
    border-bottom: 3px solid var(--SecondaryColor);
}
.skillsHd{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px !important;
}
.skillsHd h1{
    font-family: 'K2D', sans-serif;
    font-size: 4.3rem;
    font-weight: 600;
    color: var(--WhiteColor);
    margin: 0;
}
.skillsUnderline1{
    width: 140px;
    height: 3px;
    background-color: var(--SecondaryColor);
    border-radius: 100px;
}
.skillsUnderline2{
    width: 100px;
    height: 2px;
    background-color: var(--PrimaryColor);
    border-radius: 100px;
    margin-top: 5px;
}

.skillsContent{
    padding: 50px 0px 50px 0px;
    overflow: hidden;
}
.skil{
    height: 15vh;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.skilIcon{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}
.skilContent{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.skText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skText h3, .skText h4{
    font-size: 2.4rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: var(--WhiteColor);
}
.skText h4{
    font-size: 2rem;
}
.progressBar1, .progressBar2, .progressBar3, .progressBar4, .progressBar5, .progressBar6{
    width: 100%;
    height: 1.2vh;
    background-color: var(--GrayColor);
    border-radius: 10px;
    position: relative;
}
.progressBar1::after{
    content: '';
    width: 90%;
    height: 100%;
    background-color: #fa5f1c;
    position: absolute;
    border-radius: 10px;
}
.progressBar2::after{
    content: '';
    width: 60%;
    height: 100%;
    background-color: #f7df1e;
    position: absolute;
    border-radius: 10px;
}
.progressBar3::after{
    content: '';
    width: 85%;
    height: 100%;
    background-color: #224eff;
    position: absolute;
    border-radius: 10px;
}
.progressBar4::after{
    content: '';
    width: 75%;
    height: 100%;
    background-color: #8412fb;
    position: absolute;
    border-radius: 10px;
}
.progressBar5::after{
    content: '';
    width: 60%;
    height: 100%;
    background-color: #00d8ff;
    position: absolute;
    border-radius: 10px;
}
.progressBar6::after{
    content: '';
    width: 70%;
    height: 100%;
    background-color: #cf649a;
    position: absolute;
    border-radius: 10px;
}

.fa-html5{
    color: #fa5f1c;
}
.fa-square-js{
    color: #f7df1e;
}
.fa-css3-alt{
    color: #224eff;
}
.fa-bootstrap{
    color: #8412fb;
}
.fa-sass{
    color: #cf649a;
}
.fa-github{
    color: #00d8ff;
}


/* For Projects Section */
.projectHd{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px !important;
}
.projectHd h1{
    font-family: 'K2D', sans-serif;
    font-size: 4.3rem;
    font-weight: 600;
    color: var(--MediumgrayColor);
    margin: 0;
}
.projectUnderline1{
    width: 250px;
    height: 3px;
    background-color: var(--SecondaryColor);
    border-radius: 100px;
}
.projectUnderline2{
    width: 190px;
    height: 2px;
    background-color: var(--PrimaryColor);
    border-radius: 100px;
    margin-top: 5px;
}

.projectContent{
    padding: 50px 0px 100px 0px;
    position: relative;
    overflow: hidden;
}
.showBtnCol{
    display: flex;
    justify-content: center;
}
.hiddenButton{
    padding: 8px 22px;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: var(--SecondaryColor);
    color: var(--DarkgrayColor);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.hiddenButton:hover{
    background-color: var(--DarkgrayColor);
    color: var(--PrimaryColor);
}
.hiddenButton:active{
    background-color: var(--SecondaryColor);
    color: var(--DarkgrayColor);
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.showProduct{
    height: 50vh;
}
.hiddenProduct{
    height: 0;
    transition: 0.4s;
}
.productallShow{
    border: 0px solid var(--DarkgrayColor);
}
.productCtnt h2{
    font-size: 3rem;
    font-family: 'K2D', sans-serif;
    color: antiquewhite;
}
.productCtnt p{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    text-align: center;
}
.productCtnt a{
    text-decoration: none;
    font-size: 3rem;
    color: var(--DarkgrayColor);
    background-color: var(--WhiteColor);
    padding: 7px 14px;
    border-radius: 100%;
    transition: 0.3s;
}
.productCtnt a:hover{
    color: var(--WhiteColor);
    background-color: var(--DarkgrayColor);
}
.productall{
    width: 94%;
    height: 90%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    filter: brightness(0.9);
    box-shadow: 0px 15px 15px #a1a1a1;
}
.productCtnt{
    width: 100%;
    height: 0%;
    background: linear-gradient(to bottom, rgba(61, 61, 61, 0.9), rgba(255, 208, 0, 0.8));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
    overflow: hidden;
    transform: translateY(-20px);
    z-index: 11;
}
.productall:hover .productCtnt{
    height: 100%;
    transform: translateY(0px);
}
.product01{
    background: url('./Images/project-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product02{
    background: url('./Images/project-02.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -10px;
}
.product03{
    background: url('./Images/project-03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.product04{
    background: url('./Images/project-04.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product05{
    background: url('./Images/project-05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product06{
    background: url('./Images/project-06.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -120px;
}
.product07{
    background: url('./Images/project-07.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product08{
    background: url('./Images/project-08.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product09{
    background: url('./Images/project-09.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* For Contact Section */
.contacts-area{
    width: 100%;
    background-color: var(--DarkgrayColor);
}
.contactRow{
    width: 100%;
    overflow: hidden;
}
.contactHd{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px !important;
}
.contactHd h1{
    font-family: 'K2D', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: var(--WhiteColor);
    margin: 0;
}
.contactUnderline1{
    width: 210px;
    height: 3px;
    background-color: var(--SecondaryColor);
    border-radius: 100px;
}
.contactUnderline2{
    width: 150px;
    height: 2px;
    background-color: var(--PrimaryColor);
    border-radius: 100px;
    margin-top: 5px;
}

.contactContent{
    padding: 50px 0px 40px 0px;
    position: relative;
}
.contctLinks{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.contactImage{
    width: 100px;
    height: 100px;
    background-color: var(--TolightgrayColor);
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cntctImg{
    width: 96%;
    height: 96%;
    background: url('./Images/ContactImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1px -30px;
    filter: brightness(1.6);
    rotate: 345deg;
    border-radius: 100%;
}
.contctLinks h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--PrimaryColor);
    margin-top: 14px;
    margin-bottom: 20px;
}
.socialLnk{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sclIcon{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sclIcon a i{
    text-decoration: none;
    color: var(--WhiteColor) !important;
    font-size: 2.5rem;
    transition: 0.3s;
}
.sclIcon a i:hover{
    color: var(--SecondaryColor) !important;
    rotate: 360deg;
}
.sclText{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sclText a{
    font-size: 1.6rem;
    color: var(--TolightgrayColor);
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}
.sclText a:hover{
    color: var(--SecondaryColor);
    transform: translateX(10px);
}


.contactForm{
    padding: 50px 0px 40px 0px;
    position: relative;
}
#form label{
    font-size: 2rem;
    font-family: 'K2D', sans-serif;
    color: var(--WhiteColor);
    margin-bottom: 5px;
    margin-top: 10px;
}
#form input{
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--WhiteColor);
    border-radius: 5px;
    background-color: var(--MediumgrayColor);
}
#form input::placeholder{
    font-family: 'Poppins', sans-serif;
    color: var(--TolightgrayColor);
}
#form input:focus{
    box-shadow: 0px 0px 5px var(--SecondaryColor);
}
#form textarea{
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--WhiteColor);
    border-radius: 5px;
    background-color: var(--MediumgrayColor);
    margin-bottom: 10px;
}
#form textarea:focus{
    box-shadow: 0px 0px 5px var(--SecondaryColor);
}
#form input[type='button']{
    padding: 8px 20px;
    outline: none;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--DarkgrayColor);
    border-radius: 5px;
    background-color: var(--SecondaryColor);
    transition: 0.3s;
}
#form input[type='button']:hover{
    color: var(--SecondaryColor);
    background-color: var(--MediumgrayColor);
}


#footer{
    height: 10vh;
    background-color: rgb(19, 19, 19);
}
.footerContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContent p{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--PrimaryColor);
}


.hidden{
    display: none;
}

/* --------------------------> For Media Query <-------------------------- */

/* Smartphones Mobile Medium*/
@media only screen and (max-width: 375px) {
    .banner-area{
        width: 100%;
        height: 125vh;
    }
    .banner{
        height: 650px;
    }
    .bnr-content-text{
        align-items: center !important;
        text-align: center;
    }
    .emoji{
        width: 22px;
        top: 8%;
    }
    @keyframes swing-top-fwd {
        0%{
            transform:rotateX(0);
            transform-origin:top;
            left: 50%;
            opacity: 0;
        }
        100%{
            transform:rotateX(360deg);
            transform-origin:bottom;
            left: 70%;
            opacity: 1;
        }
    }
    .bnr-content-text h1{
        font-size: 3.1rem;
    }
    .bnr-content-text h2{
        font-size: 3.6rem;
    }
    .bnr-content-text h5{
        font-size: 1.6rem;
    }
    .bnr-content-text p{
        font-size: 1.3rem;
        padding: 0px 20px;
    }
    .hire-me{
        padding: 5px 21px;
    }
    .icons i{
        font-size: 2.8rem;
    }
    .bnr-image{
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative; 
    }
    .image img{
        width: 330px;
    }
    .html{
        width: 8rem;
        height: 3.2rem;
        top: 0px;
        left: 260px;
        gap: 6px;
    }
    .html i{
        font-size: 1.6rem;
        margin-top: 2px;
    }
    .html h3{
        font-size: 1.5rem;
        margin-top: 0px;
    }
    .css{
        width: 7.2rem;
        height: 3.2rem;
        top: 35px;
        left: 0px;
    }
    .css i{
        font-size: 1.6rem;
        margin-top: 2px;
    }
    .css h3{
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
    .javascript{
        width: 14rem;
        height: 3.2rem;
        bottom: -25px;
        left: 180px;
    }
    .javascript i{
        font-size: 1.6rem;
        margin-top: 2px;
    }
    .javascript h3{
        font-size: 1.5rem;
    }
}

/* ---------------- Smartphones Mobile Large ---------------- */
@media(min-width: 376px) and (max-width: 500px) {
    .banner-area{
        width: 100%;
        height: 130vh;
    }
    .banner{
        height: 670px;
    }
    .bnr-content-text{
        align-items: center !important;
        text-align: center;
    }
    .emoji{
        width: 22px;
        top: 8%;
    }
    @keyframes swing-top-fwd {
        0%{
            transform:rotateX(0);
            transform-origin:top;
            left: 50%;
            opacity: 0;
        }
        100%{
            transform:rotateX(360deg);
            transform-origin:bottom;
            left: 70%;
            opacity: 1;
        }
    }
    .bnr-content-text h1{
        font-size: 3.3rem;
    }
    .bnr-content-text h2{
        font-size: 3.8rem;
    }
    .bnr-content-text h5{
        font-size: 1.7rem;
    }
    .bnr-content-text p{
        font-size: 1.3rem;
        padding: 0px 20px;
    }
    .hire-me{
        padding: 6px 23px;
    }
    .icons i{
        font-size: 2.8rem;
    }
    .bnr-image{
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative; 
    }
    .image img{
        width: 350px;
    }
    .html{
        width: 9.6rem;
        height: 3.4rem;
        top: 0px;
        left: 290px;
        gap: 6px;
    }
    .html i{
        font-size: 1.8rem;
        margin-top: 2px;
    }
    .html h3{
        font-size: 1.7rem;
        margin-top: 0px;
    }
    .css{
        width: 8.6rem;
        height: 3.4rem;
        top: 45px;
        left: 0px;
    }
    .css i{
        font-size: 1.8rem;
        margin-top: 2px;
    }
    .css h3{
        font-size: 1.7rem;
        margin-bottom: 0px;
    }
    .javascript{
        width: 16rem;
        height: 3.4rem;
        bottom: -30px;
        left: 200px;
    }
    .javascript i{
        font-size: 1.8rem;
        margin-top: 2px;
    }
    .javascript h3{
        font-size: 1.7rem;
    }
}

/* ---------------- Tablet ---------------- */
@media(min-width: 501px) and (max-width: 774px) {
    .banner-area{
        width: 100%;
        height: 150vh;
    }
    .banner{
        height: 750px;
    }
    .bnr-content-text{
        align-items: center !important;
        text-align: center;
    }
    .emoji{
        width: 24px;
        top: 8.5%;
    }
    @keyframes swing-top-fwd {
        0%{
            transform:rotateX(0);
            transform-origin:top;
            left: 45%;
            opacity: 0;
        }
        100%{
            transform:rotateX(360deg);
            transform-origin:bottom;
            left: 65%;
            opacity: 1;
        }
    }
    .bnr-content-text h1{
        font-size: 3.6rem;
    }
    .bnr-content-text h2{
        font-size: 4.3rem;
    }
    .bnr-content-text h5{
        font-size: 2.1rem;
    }
    .bnr-content-text p{
        font-size: 1.4rem;
    }
    .hire-me{
        padding: 6px 23px;
    }
    .icons i{
        font-size: 3rem;
    }
    .bnr-image{
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative; 
    }
    .image img{
        width: 380px;
    }
    .html{
        width: 11rem;
        height: 3.6rem;
        top: 0px;
        left: 430px;
    }
    .html i{
        font-size: 2rem;
        margin-top: 4px;
    }
    .html h3{
        font-size: 1.9rem;
        margin-top: 2px;
    }
    .css{
        width: 10rem;
        height: 3.6rem;
        top: 75px;
        left: 95px;
    }
    .css i{
        font-size: 2rem;
        margin-top: 3px;
    }
    .css h3{
        font-size: 1.9rem;
        margin-bottom: 0px;
    }
    .javascript{
        width: 18rem;
        height: 3.6rem;
        bottom: -15px;
        left: 320px;
    }
    .javascript i{
        font-size: 2rem;
        margin-top: 2px;
    }
    .javascript h3{
        font-size: 1.9rem;
    }
}

/* ---------------- Small Laptop ---------------- */
@media(min-width: 775px) and (max-width: 992px) {
    .banner-area{
        width: 100%;
        height: 110vh;
    }
    .banner{
        height: 750px;
    }
    .bnr-content-text{
        align-items: center !important;
        text-align: center;
    }
    .emoji{
        width: 25px;
        top: 8.5%;
    }
    @keyframes swing-top-fwd {
        0%{
            transform:rotateX(0);
            transform-origin:top;
            left: 45%;
            opacity: 0;
        }
        100%{
            transform:rotateX(360deg);
            transform-origin:bottom;
            left: 65%;
            opacity: 1;
        }
    }
    .bnr-content-text h1{
        font-size: 3.8rem;
    }
    .bnr-content-text h2{
        font-size: 4.5rem;
    }
    .bnr-content-text h5{
        font-size: 2.15rem;
    }
    .bnr-content-text p{
        font-size: 1.45rem;
    }
    .hire-me{
        padding: 6.5px 25px;
    }
    .icons i{
        font-size: 3.1rem;
    }
    .bnr-image{
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative; 
    }
    .image img{
        width: 390px;
    }
    .html{
        width: 11rem;
        height: 3.6rem;
        top: 0px;
        left: 450px;
    }
    .html i{
        font-size: 2rem;
        margin-top: 4px;
    }
    .html h3{
        font-size: 1.9rem;
        margin-top: 2px;
    }
    .css{
        width: 10rem;
        height: 3.6rem;
        top: 75px;
        left: 90px;
    }
    .css i{
        font-size: 2rem;
        margin-top: 3px;
    }
    .css h3{
        font-size: 1.9rem;
        margin-bottom: 0px;
    }
    .javascript{
        width: 18rem;
        height: 3.6rem;
        bottom: -20px;
        left: 320px;
    }
    .javascript i{
        font-size: 2rem;
        margin-top: 2px;
    }
    .javascript h3{
        font-size: 1.9rem;
    }
}

/* ---------------- Medium Laptop ---------------- */
@media(min-width: 993px) and (max-width: 1200px) {
    .banner{
        height: 385px;
    }
    .emoji{
        width: 28px;
        top: 8.5%;
    }
    @keyframes swing-top-fwd {
        0%{
            transform:rotateX(0);
            transform-origin:top;
            left: 25%;
            opacity: 0;
        }
        100%{
            transform:rotateX(360deg);
            transform-origin:bottom;
            left: 45%;
            opacity: 1;
        }
    }
    .bnr-content-text h1{
        font-size: 4rem;
    }
    .bnr-content-text h2{
        font-size: 4.6rem;
    }
    .bnr-content-text h5{
        font-size: 2.1rem;
    }
    .bnr-content-text p{
        font-size: 1.45rem;
    }
    .hire-me{
        padding: 7px 26px;
    }
    .icons i{
        font-size: 3.3rem;
    }
    .image img{
        width: 400px;
    }
    .html{
        width: 11rem;
        height: 3.6rem;
        top: 0px;
        left: 320px;
    }
    .html i{
        font-size: 2rem;
        margin-top: 4px;
    }
    .html h3{
        font-size: 1.9rem;
        margin-top: 2px;
    }
    .css{
        width: 10rem;
        height: 3.6rem;
        top: 75px;
        left: -10px;
    }
    .css i{
        font-size: 2rem;
        margin-top: 3px;
    }
    .css h3{
        font-size: 1.9rem;
        margin-bottom: 0px;
    }
    .javascript{
        width: 18rem;
        height: 3.6rem;
        bottom: 50px;
        left: 220px;
    }
    .javascript i{
        font-size: 2rem;
        margin-top: 2px;
    }
    .javascript h3{
        font-size: 1.9rem;
    }
}

/* Widescreen OR Large Laptop*/
@media(min-width: 1201px) and (max-width: 1400px)  {
    /* .bnr-content-text h1{
        font-size: 4.6rem;
    }
    .bnr-content-text h2{
        font-size: 5.5rem;
    }
    .bnr-content-text h5{
        font-size: 2.2rem;
    }
    .bnr-content-text p{
        font-size: 1.55rem;
    }
    .html{
        top: 0px;
        left: 380px;
    }
    .css{
        top: 75px;
        left: 0px;
    }
    .javascript{
        bottom: 8px;
        left: 240px;
    } */
}

/* Landscape */
/* @media(max-height: 500px) {
body {
    background: orange;
}

#landscape h1 {
    display: block;
}

} */